body {
	margin: 0;
}
.container-content-banner {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url("https://i.pinimg.com/originals/09/a2/41/09a241f9917145c127089bcf43737fa6.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	width: 100%;
	background-size: cover;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 0;
	
}

.container-text-presentation {
	color: white;
	text-align: center;
}

h1.presentation {
	font-size: 80px;
}

.informations {
	font-size: 1em;
	background-color: rgba(241, 155, 65, 0.6);
	font-style: italic;
}


.rent {
	font-size: 25px;
	text-align: center;
	
}

.custom-select{
	display: flex;
	justify-content: center;
	position: relative;
	margin-top: 20px
}

#city {
	/* width: 200px; */
	/* margin: 25px auto; */
	font-style: italic;
	background-color: white;
	border: 1px solid white;
	/* border-radius: 11px; */
	padding: 10px 55px 8px 10px;
	cursor: pointer;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
	color: grey;
}

.custom-arrow{
	position: absolute;
	top: 0;
	right:0;
	display:block;
	background: rgba(241, 155, 65, 1) ;
	height: 100%;
	width: 2rem;
	pointer-events: none;
}
.custom-arrow::before,
.custom-arrow::after{
	--size: 0.4em;

	content:"";
	position: absolute;
	width:0;
	height:0;

	left: 50%;
	transform: translate(-50%, -50%);
}

.custom-arrow::before{
	border-left: var(--size) solid transparent;
	border-right: var(--size)  solid transparent;
	border-bottom: var(--size)  solid white;

	top: 35%;
}
.custom-arrow::after{
	border-left: var(--size) solid transparent;
	border-right: var(--size)  solid transparent;
	border-top: var(--size)  solid white;
	top: 60%;
}



.container-boutton {
	display: flex;
	justify-content: center;
}

.link-search {
	background-color:var(--color-button);
	display: inline-block;
	cursor: pointer;
	color: var(--main-color);
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	font-size: 19px;
	text-decoration: none;
	margin-top:60px;
	text-align: center;
	box-shadow: 1px 1px 3px black;
	padding: 10px 14px;
	border-radius: 8px;
	
}

.link-search:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	border-bottom: 1px solid;
}


.container-where {
	border-radius: 10px 10px 0px 0px;
	padding: 2px 12px ;
	margin-top: 30px;
	margin-bottom: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

.about-ridy{
	border-bottom: 3px solid rgba(241, 155, 65, 1) ;
	width: 170px;
	margin: 1px auto;
	/* border: 1px solid black; */
	text-align: center;
	font-family: 'Turret Road', cursive;
	font-size: 35px;


}

.information-about{	
	font-size: 1.4em;
	width:80%;
	margin : 40px auto;
	text-align: center;
	
}

.try{
	margin-top: 15px;
	font-weight: bold;
}

.try-a{
	text-decoration: none;
	color: rgba(241, 155, 65, 0.7);
}

.try-a:hover{
	text-shadow: 0px 0px 1px  rgba(241, 155, 65, 0.9);
}

.advantages {
	display:flex;
	width: 80%;
	justify-content: space-around;
	flex-wrap:wrap;
	align-items: flex-start;
	margin: 30px;

}
.advantage {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	margin-right: 10px;
	margin-left: 10px;
}

.advantage p {
	margin-top:10px;
	color:black;
	font-size:14px;
	font-style:normal;
}