.confirmation {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.confirmation p {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  align-items: center;
}

h1 {
  text-align: center;
}

.form .form-data {
  width: 100%;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space;
}

.form-button {
  display: inline-block;
  justify-items: center;
  text-transform: uppercase;
}

fieldset {
  border: solid black;
  margin-bottom: 60px;
}

input {
  width: 270px;
}

.input-label p {
  margin-bottom: 0;
}

@media screen and (max-width: 950px) {
  .confirmation {
    display: flex;
    flex-direction: row;
  }
}
